extends layout

block content
  h1 No Facebook Authentication Detected
  | Facebook signed_request not found. This sample must be run through facebook canvas. 
  | Make sure to enable authenticated referrals in your facebook app settings
    



